@import '../../vars.css';

.container {
    color: var(--color-text);
    background-color: var(--color-secondary);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 30px 10%;
    gap: 10px;
}

.text h3 {
    color: var(--color-primary);
    font-size: 80px;
    font-weight: 700;
    letter-spacing: 4px;
    font-weight: 500;
    font-family: var(--font-amaranth);
}

.text p {
    font-size: 40px;
    font-weight: 400;
    letter-spacing: 2px;
}

.links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    list-style: none;
    gap: 26px;
}

.link {
    color: var(--color-primary);
    display: flex;
    align-items: center;
    gap: 25px;
}

.link a {
    color: var(--color-primary);
    text-decoration: none;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 1.5px;
    margin-left: 0px;
}

@media screen and (max-width: 830px) {
    .container {
        padding-bottom: 100px;
        flex-direction: column;
        gap: 23px;
    }

    .text h3 {
        font-size: var(--font-size-header-mobile);
    }

    .text {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .links {
        align-items: flex-start;
    }

    .link a {
        font-size: 20px;
    }
}
